/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #5eaa9f, #99adc3); /* Beautiful background gradient */
    height: 90vh;
    text-align: center;
    padding: 0 20px;
  }
  
  .hero-card {
    background: #559ea7;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
  }
  
  .image-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .hero-image {
    border-radius: 50%;  /* Make the image circular */
    object-fit: cover;  /* Ensures the image is contained within the circle */
    border: 5px solid #fff;  /* Optional: adds a white border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for a better effect */
  }
  
  /* Heading and Description */
  h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  /* Button Style */
  .view-projects-button {
    padding: 10px 20px;
    background-color: #36575c;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .view-projects-button:hover {
    background-color: #72a39c;
  }
  